body {
    padding-top: 150px;
}

.menu {
    height: 150px;
    background: red;
    width: 100%;
    transition: all 1s;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .6;
}

.fx .menu {
    height: 50px;
    opacity: 1;
}